/MP-TVSeries/Online Parsing Classes/APIKey.Designer.cs
/MP-TVSeries/Online Parsing Classes/APIKey.resx
/MP-TVSeries/bin
/MP-TVSeries/obj
/.vs
/ConfigLauncher/bin/Debug/Common.GUIPlugins.dll
/ConfigLauncher/bin/Debug/Core.dll
/ConfigLauncher/bin/Debug/Gentle.Framework.dll
/ConfigLauncher/bin/Debug/ICSharpCode.SharpZipLib.dll
/ConfigLauncher/bin/Debug/MP-TVSeries-Configuration.exe
/ConfigLauncher/bin/Debug/MP-TVSeries-Configuration.exe.config
/ConfigLauncher/bin/Debug/MP-TVSeries-Configuration.pdb
/ConfigLauncher/bin/Debug/MP-TVSeries.dll
/ConfigLauncher/bin/Debug/MP-TVSeries.pdb
/ConfigLauncher/bin/Debug/Newtonsoft.Json.dll
/ConfigLauncher/bin/Debug/SubCentral.dll
/ConfigLauncher/bin/Debug/TVDatabase.dll
/ConfigLauncher/bin/Debug/TraktAPI.dll
/ConfigLauncher/bin/Debug/TraktPlugin.dll
/ConfigLauncher/bin/Debug/TvBusinessLayer.dll
/ConfigLauncher/bin/Release/Common.GUIPlugins.dll
/ConfigLauncher/bin/Release/Core.dll
/ConfigLauncher/bin/Release/ICSharpCode.SharpZipLib.dll
/ConfigLauncher/bin/Release/MP-TVSeries-Configuration.exe
/ConfigLauncher/bin/Release/MP-TVSeries-Configuration.exe.config
/ConfigLauncher/bin/Release/MP-TVSeries-Configuration.pdb
/ConfigLauncher/bin/Release/MP-TVSeries.dll
/ConfigLauncher/bin/Release/MP-TVSeries.pdb
/ConfigLauncher/bin/Release/SubCentral.dll
/ConfigLauncher/bin/Release/TraktAPI.dll
/ConfigLauncher/bin/Release/TraktPlugin.dll
/ConfigLauncher/obj/Debug/ConfigLauncher.csproj.FileListAbsolute.txt
/ConfigLauncher/obj/Debug/ConfigLauncher.csprojAssemblyReference.cache
/ConfigLauncher/obj/Debug/ConfigLauncher.csprojResolveAssemblyReference.cache
/ConfigLauncher/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ConfigLauncher/obj/Debug/MP-TVSeries-Configuration.exe
/ConfigLauncher/obj/Debug/MP-TVSeries-Configuration.pdb
/ConfigLauncher/obj/Debug/build.force
/ConfigLauncher/obj/Release/ConfigLauncher.csproj.FileListAbsolute.txt
/ConfigLauncher/obj/Release/ConfigLauncher.csprojAssemblyReference.cache
/ConfigLauncher/obj/Release/ConfigLauncher.csprojResolveAssemblyReference.cache
/ConfigLauncher/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/ConfigLauncher/obj/Release/MP-TVSeries-Configuration.exe
/ConfigLauncher/obj/Release/MP-TVSeries-Configuration.pdb
/ConfigLauncher/obj/Release/build.force
/MP-TVSeries/MP-TVSeries.csproj.user
/MPEI/Release/MP-TVSeries-4.3.1.0.mpe1
/MPEI/Release/MP-TVSeries-4.3.2.0.mpe1
/Transifex/.tx/config
/Transifex/pull.log
